@media screen and (min-width:768px){

/* Navigation always visible */

#menu{
display:none;
}

.navigation{
display:flex;
flex-direction:row;
justify-content:flex-end;
}



/* Navigation links */
.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    font-weight: 500;
}

/* Hover effect */
.navigation a:hover {
    background-color: #e6e6e6;
    color: #000;
}

/* Active page style */
.navigation a.active {
    background-color: #1a181a;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}



/* Directory grid */

#members.grid{
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

/* List layout */

#members.list section{
grid-template-columns: 200px 1fr 1fr 1fr;
align-items:center;
}

/* Header layout */

header{
grid-template-columns: auto 1fr auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffd700;
    text-decoration: underline;
}

}