/* discover-large.css */

/* MEDIUM */
@media (min-width: 641px) {
  .discover-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* LARGE */
@media (min-width: 1025px) {

  .discover-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /* SHOW NAV ALWAYS */
  nav {
    display: block !important;
  }

  /* HIDE HAMBURGER */
  #menu {
    display: none;
  }

  /* HORIZONTAL MENU */
  .navigation {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}