/* ------------------ */
/* LARGE              */
/* ------------------ */
@media (min-width: 1025px) {
  .discover-grid {
    grid-template-areas:
      "c1 c2 c3 c4"
      "c5 c6 c7 c8";
  }

  /* IMAGE HOVER EFFECT (DESKTOP ONLY) */
  .card img {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .card img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}