/* LARGE SCREEN */
@media (min-width: 768px) {
  .join-container {
    grid-template-columns: 2fr 1fr;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    gap: 5px;
  }




}