/* LARGE SCREEN */
@media (min-width: 768px) {
  .join-container {
    grid-template-columns: 2fr 1fr;
  }


  /* NAV */
  #menu {
    display: none;
  }

  nav {
    max-height: none;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .navigation li {
    border: none;
  }

  .navigation a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  

  

}


  
  
  




