/* larger.css */

@media screen and (min-width: 768px) {

  header {
    grid-template-columns: 60px 1fr auto;
    padding: 15px 40px;
  }

  header span {
    font-size: 1.5rem;
  }

  /* Hide hamburger */
  .hamburger {
    display: none;
  }

  /* Horizontal navigation */
  nav {
    display: flex;
    justify-content: center;
    background: #333;
  }

  nav a {
    padding: 15px 20px;
    border: none;
  }

  nav a:hover {
    background: #444;
  }
}